manifest {
	description = 'Identification of accelerated regions'
	homePage = 'http://docpollard.org/research/'
	mainScript = 'call_ARs.nf'
	author = 'Kathleen Keough & Katie Pollard'
	nextflowVersion = '==23.10.1'
}

/*
* execution profiles for different environments
*/

profiles {

	local {
	}

	sge {
		process.conda = "/pollard/home/kathleen/miniconda3/envs/ARs_conda_env"
		includeConfig "$baseDir/configs/sge.config"
	}

}


timeline {
	enabled = false
}
