process{

    process.conda = "/wynton/home/pollard/kathleen/miniconda3/envs/ARs_conda"
    workDir = "/wynton/home/pollard/kathleen/nextflow_output"

    // SGE node config
    executor = 'sge'
    penv = 'smp'
    scratch = 'true'

    // configure settings for each process

    withName: extractSpecies {        
        cpus = 1
        clusterOptions = '-S /bin/bash -l mem_free=30G -l scratch=30G -V -l h_rt=05:00:00 -e /wynton/home/pollard/kathleen/nextflow_output/error -o /wynton/home/pollard/kathleen/nextflow_output/error'
    }

    withName: pruneTree {        
        cpus = 1
        clusterOptions = '-S /bin/bash -l mem_free=1G -l scratch=1G -V -l h_rt=00:10:00 -e /wynton/home/pollard/kathleen/nextflow_output/error -o /wynton/home/pollard/kathleen/nextflow_output/error'
    }

    withName: maskSpeciesOfInterest {        
        cpus = 1
        clusterOptions = '-S /bin/bash -l mem_free=100G -l scratch=100G -V -l h_rt=96:00:00 -e /wynton/home/pollard/kathleen/nextflow_output/error -o /wynton/home/pollard/kathleen/nextflow_output/error'
    }

    withName: callAutosomalConservedElements {        
        cpus = 1
        clusterOptions = '-S /bin/bash -l mem_free=75G -l scratch=75G -V -l h_rt=96:00:00 -e /wynton/home/pollard/kathleen/nextflow_output/error -o /wynton/home/pollard/kathleen/nextflow_output/error'
    }

    withName: callNonAutosomalConservedElements {        
        cpus = 1
        clusterOptions = '-S /bin/bash -l mem_free=50G -l scratch=50G -V -l h_rt=96:00:00 -e /wynton/home/pollard/kathleen/nextflow_output/error -o /wynton/home/pollard/kathleen/nextflow_output/error'
    }

    withName: filterByScore {        
        cpus = 1
        clusterOptions = '-S /bin/bash -l mem_free=10G -l scratch=10G -V -l h_rt=00:29:00 -e /wynton/home/pollard/kathleen/nextflow_output/error -o /wynton/home/pollard/kathleen/nextflow_output/error'
    }

    withName: syntenyFilterPhastCons {        
        cpus = 1
        clusterOptions = '-S /bin/bash -l mem_free=10G -l scratch=10G -V -l h_rt=00:29:00 -e /wynton/home/pollard/kathleen/nextflow_output/error -o /wynton/home/pollard/kathleen/nextflow_output/error'
    }

    withName: phastconsDupFilter {        
        cpus = 1
        clusterOptions = '-S /bin/bash -l mem_free=50G -l scratch=50G -V -l h_rt=00:29:00 -e /wynton/home/pollard/kathleen/nextflow_output/error -o /wynton/home/pollard/kathleen/nextflow_output/error'
    }

    withName: phastconsSizeFilter {        
        cpus = 1
        clusterOptions = '-S /bin/bash -l mem_free=5G -l scratch=5G -V -l h_rt=00:29:00 -e /wynton/home/pollard/kathleen/nextflow_output/error -o /wynton/home/pollard/kathleen/nextflow_output/error'
    }

    withName: accRegionsAutosomal {        
        cpus = 1
        clusterOptions = '-S /bin/bash -l mem_free=60G -l scratch=60G -V -l h_rt=96:00:00 -e /wynton/home/pollard/kathleen/nextflow_output/error -o /wynton/home/pollard/kathleen/nextflow_output/error'
    }

    withName: accRegionsNonAutosomal {        
        cpus = 1
        clusterOptions = '-S /bin/bash -l mem_free=60G -l scratch=60G -V -l h_rt=96:00:00 -e /wynton/home/pollard/kathleen/nextflow_output/error -o /wynton/home/pollard/kathleen/nextflow_output/error'
    }

    withName: multipleTestCorrectionFiltering {        
        cpus = 1
        clusterOptions = '-S /bin/bash -l mem_free=5G -l scratch=5G -V -l h_rt=00:29:00 -e /wynton/home/pollard/kathleen/nextflow_output/error -o /wynton/home/pollard/kathleen/nextflow_output/error'
    }

    withName: idToPhastcons {
        cpus = 1
        clusterOptions = '-S /bin/bash -l mem_free=1G -l scratch=1G -V -l h_rt=00:05:00 -e /wynton/home/pollard/kathleen/nextflow_output/error -o /wynton/home/pollard/kathleen/nextflow_output/error'
    }

    withName: phastconsSpeciesFilter {
    cpus = 1
    clusterOptions = '-S /bin/bash -l mem_free=5G -l scratch=5G -V -l h_rt=00:29:00 -e /wynton/home/pollard/kathleen/nextflow_output/error -o /wynton/home/pollard/kathleen/nextflow_output/error'
    }

}


